<%= link_to "Home Page", root_url %></br>

<h3>Past Events</h3>
<ul>
	<% @events.past.each do |event| %>
		<li><%= link_to event.name, event_path(event.id) %></li>
	<% end %>
</ul>




<h3>Upcoming Events</h3>
<ul>
	<% @events.upcoming.each do |event| %>
		<li><%= link_to event.name, event_path(event.id) %></li>
	<% end %>
</ul>
